@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.App {
  height: 100%;
  width: 100%;
  background-color: #130F2D;
}

.App-header {
  height: 100px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: gold;
  font-size: 50px;
  font-family: 'Modak', cursive;
  cursor: default;
}

.search {
  margin: 10px;
}

.movie-list {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.movie-card {
  width: 200px;
  height: auto;
}

.movie-card:hover {
  background-color: #BDBAC9;
  animation: color-delay .35s ease-in;
}

.movie-poster {
  width: 200px;
  height: 250px;
  opacity: 100%;
}

.movie-poster-details {
  margin: 20px;
  border: #130F2D solid 5px;
  height: 500px;
  width: auto;
}

.movie title {
  padding: 50px;
}

@keyframes color-delay {
  0% {
    background-color: #130F2D;
  }
  100% {
    background-color: #BDBAC9;
  }
}

@media only screen and (max-width: 600px) {
  .App-header {
    height: 70px;

  }
  .logo {
    font-size: xx-large;
  }
}